.sui-form-field {
	padding: 20px;
}
.sui-label {
    display: block;
    margin: 0 0 5px;
    padding: 0;
    border: 0;
    color: #666;
    font: 500 15px/22px Roboto,Arial,sans-serif;
    letter-spacing: -.25px;
}
.sui-error-message {
    display: block;
    margin-top: 8px;
    color: #ff6d6d;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
}
.sui-form-field-error {
    border-bottom: 2px solid #ff6d6d;
}

//codepen refered :https://codepen.io/raubaca/pen/VejpQP
/* Reset Select */
.sui-select select {
-webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
appearance: none;
outline: 0;
box-shadow: none;
border: 0 !important;
background-image: none;
}
/* Remove IE arrow */
.sui-select select::-ms-expand {
display: none;
}
/* Custom Select */
.sui-select {
position: relative;
display: flex;
width: 20em;
height: 3em;
line-height: 3;
overflow: hidden;
border-radius: .25em;
padding: 10px;
}
.sui-select select {
flex: 1;
padding: 0 .5em;
cursor: pointer;
}
/* Arrow */
.sui-select::after {
content: '\25BC';
position: absolute;
top: 0;
right: 0;
padding: 0 1em;
cursor: pointer;
pointer-events: none;
-webkit-transition: .25s all ease;
-o-transition: .25s all ease;
transition: .25s all ease;
}
.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
    .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;
        input {
            display: none;
            + label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\2713";
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
    }
    .avatar-preview {
        width: 192px;
        height: 192px;
        position: relative;
        border-radius: 100%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
.sui-loading {
    width: 20px;
	height: 20px;
	clear: both;
    margin: 5px 10px auto;
    display: inline-block;
	border: 4px rgba(#000,0.25) solid;
	border-top: 4px rgba(#000,1) solid;
	border-radius: 50%;
	-webkit-animation: spCircRot .6s infinite linear;
	animation: spCircRot .6s infinite linear;
}
@-webkit-keyframes spCircRot {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(359deg); }
}
@keyframes spCircRot {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}
.fes-success-message{
    display: none;
}